.heading{
    text-align: center;
    color: brown;
}
.messages{
    /* display: flex;
    flex-wrap: wrap-reverse; */
    justify-content: center;
    color: rgb(32, 132, 99);
}
button{
    background-color: rgb(55, 102, 231)
}
.input{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    left: 20px;
}